#Calves path:hover,
#Chest path:hover,
#Shoulders path:hover,
#Waist path:hover,
#Thighs path:hover,
#Biceps path:hover,
#Forearms path:hover,
#Back:hover,
#Hips path:hover,
#Triceps path:hover {
  cursor: pointer;
  fill: red;
  opacity: 0.5;
}
#Calves path,
#Chest path,
#Shoulders path,
#Waist path,
#Thighs path,
#Biceps path,
#Forearms path,
#Back,
#Hips path,
#Waist path,
#Triceps path {
  cursor: pointer;
  opacity: 0;
}
