@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

h1, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 0.5s forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}